<div>
<!--  <CreateNote apiKey={this.props.apiKey}
              handleNewNotes={(data) => this.handleNewNotes(data)}/>-->

  <ul id="notesItemList">
    HELLO
    <!--{this.state.notes.map((value, index) =>
    <li key={index} className="noteItem">
                                <span className="draggableSpan">
                                </span>
      <div className="contentLi" onClick={() => this.toggleListView(value.id, index)}>
      <h2 className="tile">{value.title}</h2>
      <p>{value.text}</p>
      <span className="timeNote">{value.modified_at}</span></div>-->

</ul>
</div>
